.App {
  text-align: center;
  background-color: gray;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  color: aquamarine;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 2px;
}

body {
  background-color: darkgray;
}
