.App {
  color: aqua;
  text-align: center;
}

/* .active {
  color: rgb(49, 90, 117);
  text-decoration: none;
} */

.activeLink {
  color: rgb(49, 90, 117);
  text-decoration: none;
}

nav {
  background-color: rgb(207, 169, 123);
  padding: 5px;
}

nav a {
  margin: 15px;
  color: white;
  font-size: 24px;
}
